@import '../../styles/variables.scss';

.PlantCard img {
  max-height: 500px; 
  max-width: 440px;
  border-radius: .5em; 
  background-size: cover; 
  border: 8px solid white;  
  box-shadow: inset 0 0 15px white;
}

.PlantCard {
  margin-bottom: 6em;
}


.plant-details {
  @include textFont($mintGreen, 20px);
  text-align: left;
  max-width: 300px;
}