@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$mintGreen: #4cb69f;
$white: whiteSmoke;
$orange: #FC4A1A;
$blueGreen: #4ABDAC;
$yellow: #F7B733; 

@mixin headerFont($fontColor, $fontSize) {
  color:  $fontColor;
  font-family: 'Varela Round', sans-serif;
  font-size: $fontSize;
}

@mixin background {
  background-color: $white;
}

@mixin textFont($fontColor, $fontSize) {
  color:  $fontColor;
  font-family: 'Varela Round', sans-serif;
  font-size: $fontSize;
}



