@import '../../styles/variables.scss';

.App {
  text-align: center;
  // min-height: 40em;
  @include background();
  min-height: 100em;
  width: 100%;
}

.page-loading {
  margin-top: 1.5em;
  @include headerFont($orange, 4em);
}

.plant-img {
  height: 20em;
  width: auto;
}



