@import '../../styles/variables.scss';

.Header {
  border-bottom: 4px solid white;
}

ul {
  display: grid;
  grid-auto-columns: 2fr 0.5fr 0.5fr;
  grid-template-areas:
  'header home saved';
  grid-gap: 10px;
  list-style: none;
  margin: 0px;
  padding: 1vh;
  align-items: baseline;
  justify-items: left;
}

.app-header {
  @include headerFont($mintGreen, 12vh);
  grid-area: header;
  margin: 0px;
  margin-left: 1em;
  justify-self: left;
}

.home {
  grid-area: home;
  padding-left: 4em;
}

.saved {
  grid-area: saved;
  justify-self: center;
}

.nav-link {
  padding-right: 2.5vh;
  text-decoration: none;
  @include headerFont($mintGreen, 3vh);
  margin-top: 50em;
}

.nav-link:hover {
  transform: scale(1.1);
  background: $white;
   color: teal;
  border: none;
}

@media (max-width: 950px) {
  ul {
  grid-template-areas:
  'header'
  'home'
  'saved';
   align-items: center;
  justify-items: center;
  }

}