@import '../../styles/variables.scss';

.Plants {
 min-height: 80em;
}

.page-heading {
  @include headerFont($orange, 62px);
  margin: 0.8em;
}

.plant-container {
  padding: 25px;
  display: grid; 
  font-size: 14px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 14em;
  margin-left: 5em;
  margin-right: 5em;
}

.search-container {
  width: 30%;
  margin-top: 16.5em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchInput {
  width: 100%;
  border: 3px solid $mintGreen; 
  margin: auto;
  padding: 5px;
  height: 22px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-right: 10px;
}

.searchInput:focus {
  color: #00B4CC;
}

.searchButton {
  width: 80px;
  height: 30px;
  margin: auto;
  border: 1px solid $mintGreen; 
  background: $mintGreen; 
  text-align: center;
  @include textFont(#fff, 18px);
  border-radius: 5px;
  cursor: pointer;
}

form {
  margin-top: 1.2em;
}

select {
  border: 3px solid $mintGreen; 
  height: 36px;
  font-size: 16px;
  border-radius: 5px;
  color: gray;
  padding: 5px;
  margin: auto;
  margin-right: 10px;
}

.filterButton {
  width: 80px;
  height: 30px;
  padding: 0px;
  margin: auto;
  border: 3px solid $mintGreen; 
  background: $mintGreen; 
  text-align: center;
  @include textFont(#fff, 18px);
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  transform: scale(1.1);
}

.filterButton:hover {
  transform: scale(1.1);
}

.error-msg {
  @include textFont(black, 16px);
  font-style: italic;
}

@media (max-width: 950px) {
  .plant-container {
    padding: 15px;
    display: grid; 
    font-size: 14px;
    grid-template-columns: 1fr;
    grid-row: auto;
    justify-items: center;
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 5em;
  }

  .page-heading {
    @include headerFont($orange, 48px);
    margin: 0.8em;
  } 

  .search-container {
    width: 50%;
    margin-top: 21.5em;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

  @media (max-width: 450px) {
    .search-container {
    width: 70%;
    margin-top: 30.5em;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .plant-container {
  padding: 25px;
  display: grid; 
  font-size: 14px;
  }
}

