@import '../../styles/variables.scss';


.plant-container {
  padding: 25px;
  display: grid; 
  font-size: 14px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 14em;
  margin-left: 5em;
  margin-right: 5em;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchInput {
  width: 100%;
  border: 3px solid $mintGreen; 
  border-right: none;
  padding: 5px;
  height: 22px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchInput:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid $mintGreen; 
  background: $mintGreen; 
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-container {
  width: 30%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}